body,
html {
  background: black;
}
.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizer{
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizer.top-left {
  left: 0;
  top: 0;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizer.top-right {
  right: 0;
  top: 0;
  cursor: nesw-resize;
}
.resizable .resizer.bottom-left {
  left: 0;
  bottom: 0;
  cursor: nesw-resize;
}
.resizable .resizer.bottom-right {
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}

#top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: ns-resize;
}
#right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  box-sizing: border-box;
  cursor: ew-resize;
}
#bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: ns-resize;
}
#left {
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  box-sizing: border-box;
  cursor: ew-resize;
}